// *************** Variables ***************

$primary-color: #191A1E;
$secondary-color: #F2F3F4; 
$tertiary-color: #727275; 
$box-shadow: 0px 10px 40px rgba(25, 30, 28, 0.6); 

// *************** Deafult styles ***************

html, body{
    width: 100%;
}

body{
    margin: 0;
    background: $secondary-color;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins';
}

// *************** Components ***************

.link {
    text-decoration: none;
}

.description{
    font-size: 20px;
    line-height: 36px;
    color: $tertiary-color;
}

.btn{
    background: $primary-color;
    border: 3px solid $primary-color;
    color: $secondary-color;
    padding: 12px 50px;
    font-size: 18px;
    border-radius: 50px;
    transition: .3s;
    letter-spacing: 1px;

    &:focus{
        outline: none;
        box-shadow: $box-shadow;
    }

    &:hover{
        background: $secondary-color;
        font-weight: bolder;
        color: $primary-color;
    }
}

.technology{
    color: $tertiary-color;
    border: 1px solid $tertiary-color;
    padding: 5px 20px;
    border-radius: 50px;
    display: inline-block;
    font-size: 15px;
    transition: .3s;
    margin: 5px 3px;

    &:hover {
        background: $tertiary-color;
        color: #f7f7f7;
    }
}

.text--grey{
    color: #727275
}

.text--bold{
    font-weight: bolder;
}

.container{
    padding: 0 20vw;
}

.icon{
    text-decoration: none;
    border-radius: 50px;
    transition: .3s;

    &:hover{
        box-shadow: $box-shadow;
    }
}

.sectionTitle{
    font-size: 50px;
}

// *************** Header ***************

.header{
    min-height: 100vh;
    position: relative;
    padding-top: 2vw;

    &__nav{
        width: 100%;
        height: 80px;
        padding: 0 9vw;
        display: flex;
    }

    &__mainContent{
        width: 100%;
        display: flex;
        height: calc(80vh - 2vw - 80px);
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__smallTitle{
        color: $tertiary-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
    }

    &__links{
        position: absolute;
        bottom: 6vw;
        right: 9vw;
    }

    &__icon{
        display: block;
        width: 20px;
        margin: 30px 0;
        transition: .2s;
        
        &:hover{
            transform: scale(1.3);
        }
    }

    &__btn{
        text-decoration: none;
    }
}

// *************** Section portfolio ***************

.portfolio{
    width: 100%;
    padding: 9vw 0 0 20vw;

    &__title{
        margin-bottom: 9vw;
    }

    &__row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 100px;
    }

    &__project{
        margin-bottom: 20vw;
    }

    &__left{
        grid-column: span 5 / auto;
    }

    &__right{
        margin-left: auto;
        margin-top: 3vw;
        grid-column: span 7 / auto;
        overflow: hidden;
    }

    &__projectTitle {
        font-size: 40px;
    }

    &__link:focus{
        outline: none;
    }

    &__link:focus &__icon{
        box-shadow: $box-shadow;
    }

    &__icon{
        display: inline-block;
        width: 60px;
        margin: 15px 15px 30px 0;
        border-radius: 50px;
        transition: .3s;

        &:hover{
            box-shadow: $box-shadow;
        }
    }

    &__projectTechStack{
        margin-bottom: 15px;
    }
}

// *************** Section contact ***************

.contact{
    padding: 0 0 0 20vw;
    margin-bottom: 9vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;

    &__right{
        background-image: url('../gallery/phone.png');
        background-size: contain;
        background-repeat: no-repeat;
        transition: .5s;
        position: relative;
        top: 0px;

        &:hover{
            position: relative;
            top: -50px;
        }
    }

    &__btn{
        text-decoration: none;
    }
}

// *************** Section about ***************

.about{
    padding: 9vw 20vw;

    &__description{
        font-size: 25px;
        line-height: calc(25 * 1.6px);
    }

    &__technology{
        margin-top: 1rem;
    }
}

// *************** Footer ***************

.footer{
    text-align: center;
    font-size: 20px;
    margin: 4rem 0 3rem 0;
}

// *************** Media queries ***************

@media only screen and (max-width: 1387px) {
    .sectionTitle{
        font-size: 40px;
    }

    .header{
        &__smallTitle{
            font-size: 17px;
        }
    }

    .portfolio{

        &__row{
            display: block;
        }

        &__left{
            max-width: 410px;
            margin-bottom: 5rem;
        }

        &__projectTitle{
            font-size: 30px;
        }

        &__right{
            display: flex;
        }

        &__img{
            margin-left: auto;
        }
    }
    .about__description{
        font-size: 20px;
        line-height: calc(20 * 1.6px);
    }
}
@media only screen and (max-width: 950px) {
    .sectionTitle{
        font-size: 30px;
    }

    .header{
        &__smallTitle{
            font-size: 15px;
        }

        &__mainContent{
            text-align: left;
        }
    }

    .portfolio{
        &__title{
            margin-bottom: 5rem;
        }

        &__img{
            width: 100%;
        }

        &__projectTitle{
            font-size: 26px;
            margin: 5px 0;
        }

        &__projectDescription{
            font-size: 18px;
            line-height: calc(18 * 1.6px);
        }
    }

    .contact{
        grid-template-columns: repeat(2, 1fr);

        &__left, &__right{
            grid-column: span 2 / auto;
        }

        &__right{
            height: 40vh;
        }
    }

    .about__description{
        font-size: 18px;
        line-height: calc(18 * 1.6px);
    }
}
@media only screen and (max-width: 600px) {

    .header{
        &__mainContent{
            align-items:flex-end;
            height: calc(80vh - 100px);
        }

        &__btn{
            display: block;
            text-align: center;
        }

        .container{
            padding: 0 9vw;
        }

        &__icon{
            margin: 0;
        }

        &__links{
            right: 0;
            padding: 20px 12vw;
            bottom: 0;
            background: #F2F3F4;
            position: fixed;
            display: flex;
            z-index: 1000;
            width: 100%;
            justify-content: space-between;
        }
    }

    .portfolio{
        padding: 9vw 0 0 9vw;

        &__right{
            margin-bottom: 200px;
        }
    }

    .contact{
        padding: 9vw 0 0 9vw;
    }

    .about{
        padding: 9vw 0 0 9vw;
    }

    .footer{
        padding-bottom: 20px;
    }
}

